[Unit]
Description=My Telethon Client
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/telegram-listener
ExecStart=/root/telegram-listener/myenv/bin/python3 /root/telegram-listener/main_telethon_only.py
Restart=always
#RestartSec=5
EnvironmentFile=/root/telegram-listener/.env

[Install]
WantedBy=multi-user.target