[Unit]
Description=My Telegram Bot
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/telegram-listener
ExecStart=/root/telegram-listener/myenv/bin/python3 /root/telegram-listener/main_bots_only.py
Restart=always
RestartSec=5
EnvironmentFile=/root/telegram-listener/.env

[Install]
WantedBy=multi-user.target