# IDE-specific
.idea/

# Virtual environment
venv/
myenv/

# Python cache
__pycache__/
*.pyc

# Session files
*.session
anon.*
*.session-journal

# Environment files
.env.local
.env
.env.bots
.env.telethon
*.log
debug_log.txt
logs/